.logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1668dc;
  color: #fff;
}

.title {
  margin-left: 0.5rem;
}
