@import "../../media.scss";

._ {
  min-height: 100vh;
  display: block;
  padding-inline: 3rem;
  background-color: transparent;

  @include media("max", "650px") {
    padding-inline: 1rem;
  }
}

.dark {
  background-color: rgba(0, 0, 0, 0.65);
}

.wrapper {
  max-width: 75rem;
  background-color: transparent;
  margin-inline: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100%;
}

.avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.25rem solid #1668dc;
  box-sizing: initial;
}

.container {
  margin-left: 3rem;
  background-color: transparent;
  opacity: 0;
  transition: all 1s !important;
}

.container_md {
  margin-left: 0;
}

.container_visible {
  opacity: 1;
}

.header {
  padding-inline: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.header_dark {
  background-color: #001529;
}

.content {
  margin-top: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem;
}

.content_dark {
  background-color: #001529;
}

.hidden {
  opacity: 0;
  transition: all 1s !important;
}

.visible {
  opacity: 1;
}
