// Timeline
.ant-timeline .ant-timeline-item-head {
  background-color: transparent;
}

// Carousel dots
.ant-carousel .slick-dots {
  position: initial;
}

.ant-carousel .slick-dots li.slick-active {
  background: #1668dc !important;
}

.ant-carousel .slick-dots li button {
  background: #1668dc !important;
}
