.badge {
  color: #f5222d;
}

.button {
  padding: 0;
  height: fit-content;
}

.card {
  width: 15rem;
  height: 100%;
}

.card:hover {
  cursor: default;
}

.cover {
  width: 100%;
  aspect-ratio: 16/9;
}

.title {
    margin: 0;
    text-align: center;
}

.gitIcon {
  color: rgba(0, 0, 0, 0.88);
}

.gitIcon_dark {
  color: rgba(255, 255, 255, 0.85);
}

.tags {
  justify-content: space-evenly;
}

.video {
  width: 50rem;
}

.display_none {
  display: none;
}
